@model IEnumerable<SRLM.Models.LeagueModels.LeagueListItem>

@{
    ViewBag.Title = "Leagues";
}
<br />


<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var league in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@Html.DisplayFor(leagueItem => league.GameImagePath)" class="card-img-top" alt="Race Car">
                <div class="card-img-overlay">
                    <h1 class="card-title text-white">@league.Platform</h1>
                    <h2 class="card-text text-white">@league.Game</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@league.Name</h5>
                    <p class="card-text">@league.Country</p>
                    <p class="card-text">Race Class:  @league.RaceClass</p>
                    <p class="card-text">Start Date: @league.StartDate</p>
                    <p class="card-text">Spots available: @(league.MaxDriverCount-league.DriverCount)</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">Details</a>
                    @Html.ActionLink("Details", "Details","League", new { id = league.LeagueId }, null)
                </div>
            </div>
        </div>
    }
</div>

