@model IEnumerable<SRLM.Models.DriverModels.DriverListItem>

@{
    ViewBag.Title = "Drivers";
}

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="card text-white text-center bg-primary mb-3">
            <h5 class="card-header text-center">Drivers</h5>
            <div class="card-body">
                <table class="table table-bordered table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Game tag</th>
                            <th>Discord name</th>
                            <th>Country</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var driver in Model)
                        {
                            <tr>
                                <td>@driver.FirstName</td>
                                <td>@driver.LastName</td>
                                <td>@driver.GameTag</td>
                                <td>@driver.DiscordName</td>
                                <td>@driver.Country</td>
                                <td>@Html.ActionLink("Details", "Details", "Driver", new { driver.DiscordName }, new { @type = "button", @class = "btn btn-secondary" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


