@model IEnumerable<SRLM.Models.DriverModels.DriverListItem>
@Styles.Render("~/Content/css")

<br />
<div class="row">
    <div class="col-xs-12">
        <div class="card text-white bg-primary mb-3">
            <h5 class="card-header text-center">Drivers</h5>
            <div class="card-body">
                <table class="table table-bordered table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Game tag</th>
                            <th>Discord name</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var driver in Model)
                        {
                            <tr>
                                <td>@driver.FirstName</td>
                                <td>@driver.LastName</td>
                                <td>@driver.GameTag</td>
                                <td>@driver.DiscordName</td>
                                <td>@driver.Country</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>