<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ZeroDeltaRacing</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index","Home")"><img class="navbar-logo" src="~/Content/img/zdr_logo.jpg"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("Index","League")">Leagues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="@Url.Action("Index","Driver")">Drivers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.com/" target="_blank">Discord</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container body body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">
                <a href="@Url.Action("Index", "Home")">Home</a> |
                <a href= "@Url.Action("Index","Admin")">Admin</a> |
                <a href="@Url.Action("#")">Sponsors</a> |
                <a href="@Url.Action("#")"> Rules</a> |
            </p>
            <p align ="center">&copy; @DateTime.Now.Year | Authored by Jordan Read</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
