@model IEnumerable<SRLM.Models.RaceClassModels.RaceClassListItem>
@Styles.Render("~/Content/css")

<div class="row">
    <div class="col-xs-6">
        <div class="card h-100 text-white bg-primary mb-3">
            <h5 class="card-header text-center">Race Class Manager</h5>
            <div class="card-body">
                <table class="table table-bordered table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Race Class</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var raceClass in Model)
                        {
                            <tr>
                                <td>@raceClass.Name</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "RaceClass", new { id = raceClass.RaceClassId }, new { @type = "button", @class = "btn btn-secondary" })
                                    @Html.ActionLink("Details", "Details", "RaceClass", new { id = raceClass.RaceClassId }, new { @type = "button", @class = "btn btn-secondary" })
                                    @Html.ActionLink("Delete", "Delete", "RaceClass", new { id = raceClass.RaceClassId }, new { @type = "button", @class = "btn btn-secondary" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                <a href="/RaceClass/create" class="btn btn-primary btn-lg">Create a race class</a>
            </div>
        </div>
    </div>
</div>
