@model IEnumerable<SRLM.Models.TrackModels.TrackListItem>
@Styles.Render("~/Content/css")

<div class="row">
    <div class="col-xs-6">
        <div class="card h-100 text-white bg-primary mb-3">
            <h5 class="card-header text-center">Track Manager</h5>
            <div class="card-body">
                <table class="table table-bordered table-striped table-dark table-hover">
                    <thead>
                        <tr>
                            <th>Track Name</th>
                            <th>Country</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var track in Model)
                        {
                            <tr>
                                <td>@track.Name</td>
                                <td>@track.Country</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "Track", new { id = track.TrackId }, new { @type = "button", @class = "btn btn-secondary" })
                                    @Html.ActionLink("Details", "Details", "Track", new { id = track.TrackId }, new { @type = "button", @class = "btn btn-secondary" })
                                    @Html.ActionLink("Delete", "Delete", "Track", new { id = track.TrackId }, new { @type = "button", @class = "btn btn-secondary" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-center">
                <a href="/track/create" class="btn btn-success btn-lg">Create a track</a>
            </div>
        </div>
    </div>
</div>