@model SRLM.Models.AdminDashboardModels.AdminDashboard
@{
    ViewBag.Title = "Index";
}

<br />

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      @Html.Partial("_PlatformIndex", Model.PlatformListItems)
    </div>
    <div class="col">
        @Html.Partial("_TrackIndex", Model.TrackListItems)
    </div>
    <div class="col">
        @Html.Partial("_GameIndex", Model.GameListItems)
    </div>
    <div class="col">
        @Html.Partial("_CarIndex", Model.CarListItems)
    </div>
    <div class="col">
        @Html.Partial("_LeagueIndex", Model.LeagueListItems)
    </div>
    <div class="col">
       @Html.Partial("_RaceClassIndex", Model.RaceClassListItems)
    </div>
</div>

